body {
    padding-top: 5rem;
}

h1{
    font-weight: bold;
}

div .form-group{
    font-weight: bold;
    color: red;
}

p{
    font-weight: initial;
    color: black;
}

div .name,.email,.subject{
    width:300px;
}

div .message{
    height:100px;
    width:400px;
    resize: none;
}

div .title{
    color: black;
}

.btn{
    color: white;
    font-weight: bold;
    background-color:rgb(72, 126, 228);
    width:100px;
}
/* 
.flashes{
    background-color: rgb(148, 238, 148);
} */
